fs-social-signin-logo {
  margin-right: 8px;
  display: flex;
}

:host ::ng-deep {
  .mat-button-wrapper {
    display: flex;
    align-items: just;
    justify-content: center;
    align-items: center;
  }
}